<div id="dashboard-container">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Sales per country dahlah aja</div>
          <div class="card-body">
            <img
              alt="placeholder pie chart"
              class="image"
              src="https://storage.googleapis.com/micro-frontends-erp/assets/pie-chart.png"
              loading="lazy"
            />
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" (click)="route('/sales')"
              >Manage sales</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center h-100">
          <div class="card-header">Customers</div>
          <div class="card-body" fxLayout="row" fxLayoutAlign="center center">
            <span class="big-number">13593</span>
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Product Sales</div>
          <div class="card-body">
            <img
              alt="placeholder pie chart"
              class="image"
              src="https://storage.googleapis.com/micro-frontends-erp/assets/line-chart.png"
              loading="lazy"
            />
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" (click)="route('/sales')"
              >Manage sales</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-center">
          <div class="card-header">Reclamations</div>
          <div class="card-body">
            <img
              alt="placeholder pie chart"
              class="image"
              src="https://storage.googleapis.com/micro-frontends-erp/assets/barchart.png"
              loading="lazy"
            />
          </div>
          <div class="card-footer text-muted">
            <a class="btn btn-primary" (click)="route('/articleAdministration')"
              >Manage articles</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
