<template>
  <div id="app">
    <Sales msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
const Sales = () => import('./components/Sales.vue');

export default {
  name: 'SalesApp',
  components: {
    Sales
  }
}
</script>

<style>
</style>
