//ARTICLE 

#article-container:hover {
    padding: 1em;
    border: 3px solid #db9621;
  }
  
  #article-container:not(:empty):hover::after {
    content: 'Team Article (Vue.js)';
    background: white;
    position: absolute;
    margin-top: 4px;
    padding: 5px;
    color: #db9621;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

//SALES

#sales-container:hover {
    padding: 1em;
    border: 3px solid #21dbb0;
  }
  
  #sales-container:not(:empty):hover::after {
    content: 'Team Sales (Vue.js)';
    background: white;
    position: absolute;
    margin-top: 4px;
    padding: 5px;
    color: #21dbb0;
  }


//AUTHENTICATION login.component.css

  #login-container:hover {
    padding: 1em;
    margin: 1em;
    border: 3px solid #3385de;
  }
  
  #login-container {
    display: flex;
    flex-direction: row;
    place-content: start center;
    flex: 1 1 auto;
  }
  
  #login-container:not(:empty):hover::after {
    content: "Team Authentication (React)";
    background: white;
    position: absolute;
    margin-top: -35px;
    padding: 5px;
    color: #3385de;
  }
  
  .card {
    flex: 0.5;
  }


//DASHBOARD
  
/* $dashboard-color: #9f3434; */

#dashboard-container:hover {
  padding: 1em;
  border: 3px solid #9f3434;
}

#dashboard-container:not(:empty):hover::after {
  content: 'Dashboard Module';
  background: white;
  position: absolute;
  margin-top: 4px;
  padding: 5px;
  color: #9f3434;
}

.image {
  max-width: 380px;
}

.big-number {
  font-size: 100px;
}
 

//NAVIGATION app.component.scss

/* $navigation-color: #039803; */

#nav-container:hover {
  padding: 1em;
  border: 3px solid #039803;
  margin-bottom: 1em;
}

#nav-container:not(:empty):hover::after {
  content: 'Team Navigation (Angular)';
  background: white;
  position: absolute;
  margin-top: 55px;
  padding: 5px;
  color: #039803;
}

.nav-link:hover {
  cursor: pointer;
}
